/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span,  object, iframe, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

body, header{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 0.8em;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

html {
	background: white;
	font-size: 10pt;
}

.login ul {
	padding: 0;
	margin 0;
}

.login li {
	display: inline;
	float: left;
}

label {
	display: block;
	color: #999;
}

.cf:before,
.cf:after {
	content: "";
	display: table;
}

.cf:after {
	clear: both;
}

.cf {
	*zoom 1
}

:focus {
	outline: 0;
}

.login {
	vertical-align: center;
	width: 250px;
	margin: 50px auto;
	padding: 25px;
	background-color: rgba(250,250,250,0.8);
	border-radius: 2px;
	box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.2),
	inset 0px 1px 0px 0px rgba(250,250,250,0.5);
	border: 1px solid rgba(0,0,0,0.3);
}



/*******************
 Controller
*/

body {
	font-family: 'Droid Sans', Helvetica;
	width: 100%;
	height: 100%;
	-moz-user-select: none; 
    -khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

#button {
	width: 50%;
	height: 100%;
	float: right;
	background-color: #ccc;
	-moz-user-select: none; 
    -khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

#sadstick { 
	position:absolute; 
	width: 100%;
	height: 100%;
	top:0; 
	left:0; 
	z-index:0; 
	margin: 0;
	padding: 0;
	-moz-user-select: none; 
    -khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

#canvas-wrap {
	width: 50%;
	height: 100%;
	position: relative;
	float: left;
	-moz-user-select: none; 
    -khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}

#circle {
	width: 0px;
    position: relative;
    top: 50;
    left: 50;
    background: red;
	border-radius: 50%;
	padding: 20%;
	-moz-user-select: none; 
    -khtml-user-select: none; 
	-webkit-user-select: none; 
	-o-user-select: none; 
}


/*******************
 Land, Leave Pages
*/

.form-page {
	width: 300px;
	margin: 0px auto 0px auto;

}

#input-mame {
	width: 100%;
}

.headerimage {
	width: 50%;
	margin: 15px auto 0px auto;
}

.headerimage img {
	width: 100%;
	margin: 15px auto 0px auto;
}

.textbox {
	width: 50%;
	margin: 15px auto 0px auto;
	padding: 15px;
	border: 1px solid #ccc;
	text-align: center;
}